a:link, a:visited, a{
  text-decoration:none;color:black;
}

.header{
  background-color:lightblue;
  position: relative;
  margin-top: 30px;
  text-align: center;
  
}

ul{
  text-align: center;
  
}

li{
  display:inline-block;
  list-style:none;
  padding-right: 20px;
}

#newPage{
  display: inline-block;
  position:absolute;
  right:130px;

}

.notice1, .notice2, .notice3, .notice4{
  border-block-style: dotted;
  margin-top: 10px;
  
  block-size: 80px;
  width:100%;
  padding: 10px;
  text-align: center;
  
  
}